<h1>Detail of neighbourhood</h1>
<p><span style = "font-weight:bold">Neighbourhood name:</span> <%=@neighbourhood.name%></p>
<p><span style = "font-weight:bold">School division:</span> <%=@neighbourhood.school_division%></p>
<p><span style = "font-weight:bold">Number of hospital:</span> <%=@neighbourhood.number_of_hospital%></p>
<br>
<br>
<h2>Services requirements in this neighbourhood</h2>
<%requests = @neighbourhood.service_requests%>
<p><span style = "font-weight:bold">Total numbers of the service request:</span> <%=requests.count%></p>
<%requests.each do |req|%>
<p><span style = "font-weight:bold">Service request:</span> <%= link_to req.service_request, req%></p>
<% end %>
<br>
<br>
<p><%= link_to 'Home', root_path%>