<h1>Detail of Ward</h1>
<p><span style="font-weight: bold">Name: </span><%=@ward.name%></p>
<p><span style="font-weight: bold">MLA name: </span><%=@ward.mla_name%></p>
<p><span style="font-weight: bold">MLA address: </span><%=@ward.mla_add%></p>
<br>
<br>
<br>
<h1>Services related to this ward</h1>
<p><span style = "font-weight:bold">Total numbers of the service request:</span> <%=@ward.service_requests.count%></p>

<%@ward.service_requests.each do |req|%>
    <p><span style="font-weight: bold">Service request: </span><%=link_to req.service_request, req%></p>
<%end%>

<!-- <p><span style="font-weight: bold">Service request: </span><%=link_to @ward.service_requests.first.service_request, root_path%></p> -->
<br>