<h1>Detail of service request</h1>
<p><span style = "font-weight:bold">Date of the request:</span> <%=@request.date_time%></p>
<p><span style = "font-weight:bold">Service area:</span> <%=@request.service_area%></p>
<p><span style = "font-weight:bold">Service request:</span> <%=@request.service_request%></p>
<p><span style = "font-weight:bold">Electural Ward:</span> <%= link_to @request.Electoral_ward.name, @request.Electoral_ward%></p>
<p><span style = "font-weight:bold">Neighbourhood:</span> <%= link_to @request.Neighbourhood.name, @request.Neighbourhood%></p>
<p><span style = "font-weight:bold">Latitude of the request:</span> <%=@request.latitude%></p>
<p><span style = "font-weight:bold">Longitude of the request:</span> <%=@request.longitude%></p>
